<configuration>
  <configSections>
    <section name="hibernate-configuration" type="NHibernate.Cfg.ConfigurationSectionHandler, NHibernate"/>
  </configSections>

  <hibernate-configuration xmlns="urn:nhibernate-configuration-2.2">
    <session-factory>
      <property name="dialect">NHibernate.Dialect.MsSql2005Dialect</property>
      <property name="connection.provider">NHibernate.Connection.DriverConnectionProvider</property>
      <property name="connection.connection_string">Server=localhost; Initial Catalog=realty; Integrated Security=SSPI</property>
      <mapping assembly="Realty.Services"/>
    </session-factory>
  </hibernate-configuration>

  <runtime>
      <gcServer enabled="true"/>
   </runtime>
</configuration>
